body {
    background-color: #04a6eb;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 5px 20px;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-style: none;
    color: #fdffff;
}

input {
    height: 20px;
}