doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title アンケート
  body
    h1 どちらが食べたいですか？
    form(action=path, method="post")
      span 名前:
      input(type="text", name="name")
      input(type="radio", name="favorite", value=firstItem)
      span #{firstItem}
      input(type="radio", name="favorite", value=secondItem)
      span #{secondItem}
      button(type="submit") 投稿